{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block head_title %} {{ block.super }} | {{ title }}{% endblock head_title %}


{% block content %}

<div class="container">

  <div class="row justify-content-around">

    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="padding: 20px">
      {% if request.user.is_authenticated %}
        <h4>Hello {{ request.user }}, here are your projects</h4>
      {% else %}
        <h4>Hello Visitor, you are seeing all projects created by users not registered. Please register to see you on projects</h4>
      {% endif %}
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-5">

      {% for project_list in project_list %}

        <div class="card mb-3">
          <div class="card-header">

            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 text-left">
                <p class="font-weight-bold">Project - {{ project_list.id }}</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                Created @ {{ project_list.created_at }}
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title">Beam Length: {{ project_list.beam_length }}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="{{ project_list.get_absolute_url }}" class="btn btn-primary">Open Project</a>
          </div>
        </div>
        <!-- <br> -->

      {% endfor %}

      <!-- <div class="pagination">
          <span class="step-links">
              {% if project_list.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ orders.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ project_list.number }} of {{ orders.paginator.num_pages }}.
              </span>

              {% if project_list.has_next %}
                  <a href="?page={{ orders.next_page_number }}">next</a>
                  <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div> -->

    </div>



  </div>

</div>

{% endblock %}
